<div class="flex justify-center items-center h-[75vh]">
  <form class="w-80 text-center space-y-4" (ngSubmit)="onSubmit()">
    <label for="email" class="block text-left">
      Email:
      <input type="email" id="email" [(ngModel)]="email" name="email" class="border p-2 w-full">
    </label>
    <label for="password" class="block text-left">
      Password:
      <input type="password" id="password" [(ngModel)]="password" name="password" class="border p-2 w-full">
    </label>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Next</button>
  </form>
</div>
