<header style="background-color: red; display: flex; justify-content: space-between; align-items: center; padding: 10px;">
  <h3 routerLink="/" style="margin: 0;">Youtube</h3>
  <nav>
    <ul style="list-style: none; display: flex; gap: 20px; margin: 0;">
      <li><a routerLink="/register" role="button" class="outline"><i class="fa-solid fa-user-plus"></i>Register</a></li>
      <li><a routerLink="/login" role="button" class="outline"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
    </ul>
  </nav>
</header>
