<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <h3 class="text-xl font-bold cursor-pointer" routerLink="/">Youtube</h3>
  <nav>
    <ul class="flex space-x-4">
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <li>
          <button routerLink="/register" class="outline border border-white px-4 py-2 rounded">
            <i class="fa-solid fa-user-plus"></i> Register
          </button>
        </li>
        <li>
          <button routerLink="/login" class="outline border border-white px-4 py-2 rounded">
            <i class="fa-solid fa-right-to-bracket"></i> Login
          </button>
        </li>
      </ng-container>
      <ng-template #loggedIn>
        <li>
          <button routerLink="/account" class="outline border border-white px-4 py-2 rounded">
            <i class="fa-solid fa-user"></i> Profile
          </button>
        </li>
        <li>
          <button (click)="logout()" routerLink="/login" class="outline border border-white px-4 py-2 rounded">
            <i class="fa-solid fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
